@font-face {
    font-family: rinstonia;
    src: url('./ttf/Rinstonia.ttf') format('truetype');
}

.mengary {
    font-family: rinstonia;
    color: white;
}

.cart-btn {
    /* background-color: #FF4710; */
    border: 2px solid #9ca3af;
    color: #9ca3af;
    position: relative;
    overflow: hidden;
    transition: border 0.6s ease-in-out, color 0.6s ease-in-out;
  }
  
  .cart-btn::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #0096ff;
    z-index: -1;
    transition: 0.6s ease-in-out;
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  
  .cart-btn:hover {
    color: white;
    font-weight: 600;
    border: 2px solid #0096ff;
  }
  .cart-btn:hover::before {
    height: 180%;
  }